# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

.DS_Store
.RData
.Rhistory
.RDataTmp
*/.DS_Store
*/.RData
.RDataTmp1
*/.Rhistory


modeling/
raw_data/english_tokens.feather
processed_data/english_tokens_processed.feather
processed_data/english_tokens_contract_processed.feather
literature/
raw_data/all_english_tokens.csv
raw_data/english_tokens_excluded.csv
.positai

babyview/later_data
babyview/early_data

processed_data/babyview_tokens_contract_processed.feather
processed_data/babyview_tokens_processed.feather
